In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Jul 15 08:29:53 2021

@author: Arbo
"""
import os
import pandas as pd
code_dir = os.getcwd()
parent_dir = os.path.dirname(code_dir)
data_dir = os.path.join(parent_dir,"Data")
tweet_dir = os.path.join(parent_dir,"TweetMap")
def append_df(tweet_dir):
    
    tweets_df = pd.DataFrame(
                         columns=['Datetime', 'TweetId', 'Text',])
    
    for table in os.listdir(tweet_dir):
        if table.startswith("tweets"):
            tempdf = pd.read_csv(os.path.join(tweet_dir,table), engine = 'python', )
            
            tweets_df = tweets_df.append(tempdf)      
    tweets_df['Text'] = tweets_df['Text'].astype(str)        
    return tweets_df

In [3]:
df = pd.read_csv(os.path.join(tweet_dir,'geod_20210629_20210630.csv'), engine = 'python', )

In [5]:
df.head()

,Datetime,TweetId,Text,TweetLink,ptext,target,word,spans,country_predicted,country_conf,0,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
0,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Northern Columbia,"[{'start': 75, 'end': 92}]",USA,0.963741,NaN,New York,USA,S,CH,7225118,42.36139,-73.60278,Northern Columbia Evangelical Church
1,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Schoharie,"[{'start': 264, 'end': 273}]",USA,0.904877,NaN,New York,USA,A,ADM2,5136495,42.58822,-74.44212,Schoharie County
2,2021-06-29 23:59:58+00:00,1410025278357770243,"One, two, three ... the town of Lytton in Brit...",https://twitter.com/KHayhoe/status/14100252783...,one two three town lytton british columbia bre...,0,Lytton,"[{'start': 32, 'end': 38}]",USA,0.813797,NaN,Iowa,USA,A,ADMD,7317192,42.42330,-94.86050,City of Lytton
3,2021-06-29 23:59:58+00:00,1410025278357770243,"One, two, three ... the town of Lytton in Brit...",https://twitter.com/KHayhoe/status/14100252783...,one two three town lytton british columbia bre...,0,British Columbia,"[{'start': 42, 'end': 58}]",CAN,0.895296,NaN,British Columbia,CAN,A,ADM1,5909050,53.99983,-125.00320,British Columbia
4,2021-06-29 23:59:50+00:00,1410025246971858946,JUST IN 🚨 145 sudden deaths reported in Metro ...,https://twitter.com/TheInsiderPaper/status/141...,🚨 sudden death reported metro vancouver amid r...,0,Metro Vancouver,"[{'start': 40, 'end': 55}]",CAN,0.895296,NaN,British Columbia,CAN,A,ADM2,5965814,49.33296,-123.00264,Metro Vancouver Regional District

In [46]:
juneDFs=[]
for table in os.listdir(os.path.join(tweet_dir)):
    if table.startswith("geo"):
        tempdf = pd.read_csv(os.path.join(tweet_dir,table), engine = 'python', )
        juneDFs.append(tempdf)

In [47]:

for x in range(len(juneDFs)):
    juneDFs[x] = juneDFs[x].drop(columns = ['TweetLink', '0'])

    print("Column Names for June Data{}: {} ".format(x,juneDFs[x].columns))

Column Names for June Data0: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data1: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data2: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data3: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data4: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data5: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data6: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data7: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data8: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data9: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data10: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data11: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data12: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data13: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data14: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data15: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data16: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data17: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data18: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data19: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data20: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data21: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data22: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data23: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data24: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data25: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data26: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data27: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data28: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data29: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')

In [64]:
JuneAll = pd.concat(juneDFs)
JuneAll= JuneAll.drop([4920,4921])

In [65]:
JuneAll.to_csv(os.path.join(tweet_dir,"JuneTweets.csv"), index = False)

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
4920,2021-06-02 15:30:09+00:00,1400112509693181953,A HOUSE DIVIDED,None,None,None,None,None,None,None,None,None,None,NaN,None,NaN,None
4921,Saskatchewan Rattlers / Adirondack Thunder htt...,https://twitter.com/HouseDividedBot/status/140...,house divided saskatchewan rattler adirondack ...,Saskatchewan,"[{'start': 16, 'end': 28}]",CAN,0.9048774242401123,NaN,Saskatchewan,A,ADM1,6141242,54.0001,-106.00099,Saskatchewan,NaN,None

In [66]:
julyDFs=[]
for table in os.listdir(os.path.join(tweet_dir,'tweets_archive')):
    if table.startswith("geo"):
        tempdf = pd.read_csv(os.path.join(tweet_dir,'tweets_archive', table), engine = 'python', )
        julyDFs.append(tempdf)

In [68]:
for x in range(len(julyDFs)):
    try:
        julyDFs[x] = julyDFs[x].drop(columns = ['TweetLink', '0'])
    except:
        julyDFs[x] = julyDFs[x].drop(columns = ['0'])
    print("Column Names for July Data{}: {} ".format(x,julyDFs[x].columns))

Column Names for July Data0: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data1: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data2: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data3: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data4: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data5: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data6: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data7: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data8: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data9: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data10: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data11: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data12: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data13: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data14: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data15: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data16: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')

In [70]:
JulyAll = pd.concat(julyDFs)

In [79]:
JulyAll=JulyAll.sort_values(by=['Datetime']).reset_index(drop=True)

In [83]:
JulyAll.sort_values(by=['country_code3'])

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
10589,2021-07-01 20:55:00+00:00,1410703509473972226,The first Hurricane Hunter mission into #Elsa ...,first hurricane hunter mission elsa planned to...,0.0,Oranjestad,"[{'start': 105, 'end': 115}]",ABW,0.931685,NaN,ABW,P,PPLC,3577154,12.52398,-70.02703,Oranjestad
189946,2021-07-16 17:09:29+00:00,1416082573328007171,"Raining again in Mt. Vernon (ME), after break ...",raining mt vernon break hour sudden downpour p...,0.0,Beach,"[{'start': 159, 'end': 164}]",ABW,0.904877,NaN,ABW,S,HTL,9957912,12.57290,-70.04170,Holiday Inn Sunspree Resort Aruba Beach Resort...
56464,2021-07-06 18:45:46+00:00,1412482923043770373,"Earthquake of Magnitude:4.3, Occurred on 06-07...",earthquake occurred ist lat amp long depth km ...,0.0,Afghanistan,"[{'start': 144, 'end': 155}]",AFG,0.951695,NaN,AFG,A,PCLI,1149361,33.00000,66.00000,Islamic Republic of Afghanistan
201687,2021-07-17 11:51:52+00:00,1416365030623170560,These Afghan Khorasani journalists are spreadi...,afghan khorasani journalist spreading like wil...,0.0,Afghanistan,"[{'start': 218, 'end': 229}]",AFG,0.946707,NaN,AFG,A,PCLI,1149361,33.00000,66.00000,Islamic Republic of Afghanistan
126427,2021-07-11 18:44:44+00:00,1414294604044595200,@ghostofwars @ashoswai Laughable. Wait till th...,laughable wait till fire spread pakistan ’ kee...,0.0,Afghanistan,"[{'start': 233, 'end': 244}]",AFG,0.945287,NaN,AFG,A,PCLI,1149361,33.00000,66.00000,Islamic Republic of Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210720,2021-07-17 23:19:08+00:00,1416537984854155264,@imkimaaron @odktiger @tklforgiven @jools6691 ...,“ mention age earth flood happened “ ’ mistake...,0.0,Earth,"[{'start': 699, 'end': 704}]",NaN,0.879922,NaN,NaN,L,AREA,6295630,0.00000,0.00000,Earth
210844,2021-07-17 23:30:00+00:00,1416540720219914240,⚠️#Portugal🇵🇹: A moderate #earthquake of magni...,⚠️portugal🇵🇹 moderate earthquake magnitude reg...,0.0,Mid-Atlantic Ridge,"[{'start': 87, 'end': 105}]",NaN,0.904877,NaN,NaN,U,CDAU,2522578,0.00000,-20.00000,Mid-Atlantic Ridge
210861,2021-07-17 23:31:08+00:00,1416541006078504962,[Eastern Pacific Basin] \n\n• Update on Major ...,eastern pacific basin • update major hurricane...,0.0,Eastern Pacific Basin,"[{'start': 1, 'end': 22}]",NaN,0.904877,NaN,NaN,U,BSNU,3948653,-15.00000,-85.00000,Peru Basin
211077,2021-07-17 23:54:11+00:00,1416546808348626944,"Yes, the earth has been destroyed by the megal...",yes earth destroyed megalomaniac fertility cul...,0.0,earth,"[{'start': 9, 'end': 14}]",NaN,0.879922,NaN,NaN,L,AREA,6295630,0.00000,0.00000,Earth
211104,2021-07-17 23:56:25+00:00,1416547367340240898,What is not a type is that 93 years ago today....,type year ago todaynewspapers reporting degree...,0.0,EUROPE,"[{'start': 156, 'end': 162}]",NaN,0.782686,NaN,NaN,L,RGN,7729884,51.72703,28.38867,Eastern Europe

In [84]:
JulyAll.to_csv(os.path.join(tweet_dir,"JulyTweets.csv"), index = False)

In [85]:
julytest = pd.read_csv(os.path.join(tweet_dir,"JulyTweets.csv"))

In [86]:
julytest.head()

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
0,2021-07-01 00:00:00+00:00,1410387675366912002,"A ""pressure-cooker"" heatwave that's broken tem...",pressurecooker heatwave thats broken temperatu...,0.0,Canada,"[{'start': 114, 'end': 120}]",CAN,0.951695,NaN,CAN,A,PCLI,6251999,60.10867,-113.64258,Canada
1,2021-07-01 00:00:01+00:00,1410387679729049600,@enniscath I lived in Chicago during the heat ...,lived chicago heat wave think thats right year...,0.0,Chicago,"[{'start': 22, 'end': 29}]",USA,0.963498,Illinois,USA,P,PPLA2,4887398,41.85003,-87.65005,Chicago
2,2021-07-01 00:00:01+00:00,1410387682077855744,West #Texas has seen a lot of rain over the pa...,west texas seen lot rain past several day dog ...,0.0,Lubbock,"[{'start': 77, 'end': 84}]",USA,0.951695,Texas,USA,A,ADM2,5525584,33.61021,-101.82055,Lubbock County
3,2021-07-01 00:00:01+00:00,1410387682077855744,West #Texas has seen a lot of rain over the pa...,west texas seen lot rain past several day dog ...,0.0,Texas,"[{'start': 6, 'end': 11}]",USA,0.963498,Texas,USA,A,ADM1,4736286,31.25044,-99.25061,Texas
4,2021-07-01 00:00:03+00:00,1410387688633638912,"The physical infrastructure, social services a...",physical infrastructure social service labor p...,0.0,Pacific,"[{'start': 74, 'end': 81}]",USA,0.717823,Washington,USA,A,ADM2,5806002,46.55128,-123.77886,Pacific County