In [2]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Jul 15 08:29:53 2021

@author: Arbo
"""
import os
import pandas as pd
code_dir = os.getcwd()
parent_dir = os.path.dirname(code_dir)
data_dir = os.path.join(parent_dir,"Data")
tweet_dir = os.path.join(parent_dir,"GeoTweets")
# def append_df(tweet_dir):
    
#     tweets_df = pd.DataFrame(
#                          columns=['Datetime', 'TweetId', 'Text',])
    
#     for table in os.listdir(tweet_dir):
#         if table.startswith("tweets"):
#             tempdf = pd.read_csv(os.path.join(tweet_dir,table), engine = 'python', )
            
#             tweets_df = tweets_df.append(tempdf)      
#     tweets_df['Text'] = tweets_df['Text'].astype(str)        
#     return tweets_df

In [15]:
wxevents= ["tornado","blizzard","snow", "ice storm","sleet","thunderstorm","hail","freeze","frost","extreme cold","lightning",    "winds"       
"gale","storm"]
movement=["landslide" , "tsunami" , "tidal wave" , "earthquake" , "eruption" , 
          "volcano" , "lava" , "lahar" , "avalanche" , "mudslide" , "sinkhole"]
troplist=["typhoon" ,"cyclone","hurricane", "tropical storm","storm surge"]
flist= ["fire", "forest fire", "wildfire", "bushfire", "extreme heat", "record heat", "heatwave" , "heat wave" ]
floods = ["flood","flooded","flooding"]

In [3]:
df = pd.read_csv(os.path.join(tweet_dir,'geod_20210629_20210630.csv'), engine = 'python', )

In [4]:
df.head()

,Datetime,TweetId,Text,TweetLink,ptext,target,word,spans,country_predicted,country_conf,0,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
0,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Northern Columbia,"[{'start': 75, 'end': 92}]",USA,0.963741,NaN,New York,USA,S,CH,7225118,42.36139,-73.60278,Northern Columbia Evangelical Church
1,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Schoharie,"[{'start': 264, 'end': 273}]",USA,0.904877,NaN,New York,USA,A,ADM2,5136495,42.58822,-74.44212,Schoharie County
2,2021-06-29 23:59:58+00:00,1410025278357770243,"One, two, three ... the town of Lytton in Brit...",https://twitter.com/KHayhoe/status/14100252783...,one two three town lytton british columbia bre...,0,Lytton,"[{'start': 32, 'end': 38}]",USA,0.813797,NaN,Iowa,USA,A,ADMD,7317192,42.42330,-94.86050,City of Lytton
3,2021-06-29 23:59:58+00:00,1410025278357770243,"One, two, three ... the town of Lytton in Brit...",https://twitter.com/KHayhoe/status/14100252783...,one two three town lytton british columbia bre...,0,British Columbia,"[{'start': 42, 'end': 58}]",CAN,0.895296,NaN,British Columbia,CAN,A,ADM1,5909050,53.99983,-125.00320,British Columbia
4,2021-06-29 23:59:50+00:00,1410025246971858946,JUST IN 🚨 145 sudden deaths reported in Metro ...,https://twitter.com/TheInsiderPaper/status/141...,🚨 sudden death reported metro vancouver amid r...,0,Metro Vancouver,"[{'start': 40, 'end': 55}]",CAN,0.895296,NaN,British Columbia,CAN,A,ADM2,5965814,49.33296,-123.00264,Metro Vancouver Regional District

In [21]:


df['flood']=df.ptext.str.contains('|'.join(wxevents))
#Out[78]: [True, True, False]

In [22]:
df[df['flood']==True]

,Datetime,TweetId,Text,TweetLink,ptext,target,word,spans,country_predicted,country_conf,0,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name,flood
0,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Northern Columbia,"[{'start': 75, 'end': 92}]",USA,0.963741,NaN,New York,USA,S,CH,7225118,42.36139,-73.60278,Northern Columbia Evangelical Church,True
1,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Schoharie,"[{'start': 264, 'end': 273}]",USA,0.904877,NaN,New York,USA,A,ADM2,5136495,42.58822,-74.44212,Schoharie County,True
8,2021-06-29 23:59:41+00:00,1410025209365733376,@AndrewBVCU @MajinBaydat @ViolenceOnTV @TheSag...,https://twitter.com/TerjeCS/status/14100252093...,isnt dipshit lmao barely snow year norway know...,0,norway,"[{'start': 134, 'end': 140}]",USA,0.879922,NaN,Michigan,USA,P,PPL,5004016,45.78690,-87.90374,Norway,True
9,2021-06-29 23:59:06+00:00,1410025060446965771,Is it coming home? Kate and Prince William hai...,https://twitter.com/theroyaleditor/status/1410...,coming home kate prince william hail england i...,0,Germany,"[{'start': 124, 'end': 131}]",DEU,0.953179,NaN,NaN,DEU,A,PCLI,2921044,51.50000,10.50000,Federal Republic of Germany,True
13,2021-06-29 23:57:56+00:00,1410024769387384833,@ThisIsREngland We had a weak tornado touch do...,https://twitter.com/InAbsentiaWA/status/141002...,weak tornado touch nh week moved new house luc...,0,NH,"[{'start': 52, 'end': 54}]",LUX,0.904877,NaN,NaN,LUX,S,HTL,6469061,49.63900,6.21800,NH Luxembourg,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11563,2021-06-29 00:01:37+00:00,1409663307691134978,Looking west from our Tall Towercam we can see...,https://twitter.com/mazewx66/status/1409663307...,looking west tall towercam see thunderstorm mo...,0,Chatham,"[{'start': 99, 'end': 106}]",USA,0.963741,NaN,Georgia,USA,A,ADM2,4187390,31.97402,-81.09243,Chatham County,True
11564,2021-06-29 00:01:37+00:00,1409663307691134978,Looking west from our Tall Towercam we can see...,https://twitter.com/mazewx66/status/1409663307...,looking west tall towercam see thunderstorm mo...,0,Pittsboro,"[{'start': 182, 'end': 191}]",USA,0.904877,NaN,North Carolina,USA,P,PPLA2,4485655,35.72015,-79.17724,Pittsboro,True
11565,2021-06-29 00:01:37+00:00,1409663307691134978,Looking west from our Tall Towercam we can see...,https://twitter.com/mazewx66/status/1409663307...,looking west tall towercam see thunderstorm mo...,0,Siler City,"[{'start': 196, 'end': 206}]",USA,0.963741,NaN,North Carolina,USA,P,PPL,4491651,35.72347,-79.46224,Siler City,True
11573,2021-06-29 00:01:14+00:00,1409663209359822848,@GovPritzker @LtGovStratton @IllinoisDCEO To b...,https://twitter.com/PatrickFitzmau2/status/140...,bad ’ time go tornado ravage naperville amp wo...,0,Woodridge,"[{'start': 112, 'end': 121}]",USA,0.957188,NaN,Illinois,USA,P,PPL,4917089,41.74697,-88.05034,Woodridge,True
11578,2021-06-29 00:00:29+00:00,1409663020758835204,First time visiting the Tornado damage in Nape...,https://twitter.com/MikeS_WX/status/1409663020...,first time visiting tornado damage naperville…...,0,Naperville,"[{'start': 42, 'end': 52}]",USA,0.963741,NaN,Illinois,USA,L,RGNE,6955104,41.70778,-87.89062,Chicago-Naperville-Joliet,True

In [13]:
df.head()

,Datetime,TweetId,Text,TweetLink,ptext,target,word,spans,country_predicted,country_conf,0,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name,flood
0,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Northern Columbia,"[{'start': 75, 'end': 92}]",USA,0.963741,NaN,New York,USA,S,CH,7225118,42.36139,-73.60278,Northern Columbia Evangelical Church,False
1,2021-06-29 23:59:58+00:00,1410025281474240515,T-Storm WARNING for SE Albany.... Southern Ren...,https://twitter.com/Tim_Drawbridge/status/1410...,tstorm warning se albany southern rensselaer n...,0,Schoharie,"[{'start': 264, 'end': 273}]",USA,0.904877,NaN,New York,USA,A,ADM2,5136495,42.58822,-74.44212,Schoharie County,False
2,2021-06-29 23:59:58+00:00,1410025278357770243,"One, two, three ... the town of Lytton in Brit...",https://twitter.com/KHayhoe/status/14100252783...,one two three town lytton british columbia bre...,0,Lytton,"[{'start': 32, 'end': 38}]",USA,0.813797,NaN,Iowa,USA,A,ADMD,7317192,42.42330,-94.86050,City of Lytton,False
3,2021-06-29 23:59:58+00:00,1410025278357770243,"One, two, three ... the town of Lytton in Brit...",https://twitter.com/KHayhoe/status/14100252783...,one two three town lytton british columbia bre...,0,British Columbia,"[{'start': 42, 'end': 58}]",CAN,0.895296,NaN,British Columbia,CAN,A,ADM1,5909050,53.99983,-125.00320,British Columbia,False
4,2021-06-29 23:59:50+00:00,1410025246971858946,JUST IN 🚨 145 sudden deaths reported in Metro ...,https://twitter.com/TheInsiderPaper/status/141...,🚨 sudden death reported metro vancouver amid r...,0,Metro Vancouver,"[{'start': 40, 'end': 55}]",CAN,0.895296,NaN,British Columbia,CAN,A,ADM2,5965814,49.33296,-123.00264,Metro Vancouver Regional District,False

In [46]:
juneDFs=[]
for table in os.listdir(os.path.join(tweet_dir)):
    if table.startswith("geo"):
        tempdf = pd.read_csv(os.path.join(tweet_dir,table), engine = 'python', )
        juneDFs.append(tempdf)

In [47]:

for x in range(len(juneDFs)):
    juneDFs[x] = juneDFs[x].drop(columns = ['TweetLink', '0'])

    print("Column Names for June Data{}: {} ".format(x,juneDFs[x].columns))

Column Names for June Data0: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data1: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data2: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data3: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data4: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data5: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data6: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data7: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data8: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data9: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data10: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data11: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data12: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data13: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data14: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data15: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data16: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data17: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data18: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data19: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data20: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data21: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data22: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data23: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data24: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data25: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data26: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data27: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data28: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for June Data29: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')

In [64]:
JuneAll = pd.concat(juneDFs)
JuneAll= JuneAll.drop([4920,4921])

In [65]:
JuneAll.to_csv(os.path.join(tweet_dir,"JuneTweets.csv"), index = False)

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
4920,2021-06-02 15:30:09+00:00,1400112509693181953,A HOUSE DIVIDED,None,None,None,None,None,None,None,None,None,None,NaN,None,NaN,None
4921,Saskatchewan Rattlers / Adirondack Thunder htt...,https://twitter.com/HouseDividedBot/status/140...,house divided saskatchewan rattler adirondack ...,Saskatchewan,"[{'start': 16, 'end': 28}]",CAN,0.9048774242401123,NaN,Saskatchewan,A,ADM1,6141242,54.0001,-106.00099,Saskatchewan,NaN,None

In [2]:
julyDFs=[]
for table in os.listdir(os.path.join(tweet_dir)):
    if table.startswith("geod"):
        tempdf = pd.read_csv(os.path.join(tweet_dir,table), engine = 'python', )
        julyDFs.append(tempdf)

In [3]:
for x in range(len(julyDFs)):
    try:
        julyDFs[x] = julyDFs[x].drop(columns = ['TweetLink', '0'])
    except:
        julyDFs[x] = julyDFs[x].drop(columns = ['0'])
    print("Column Names for July Data{}: {} ".format(x,julyDFs[x].columns))

Column Names for July Data0: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data1: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data2: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data3: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data4: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data5: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data6: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data7: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data8: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data9: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data10: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data11: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data12: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data13: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data14: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data15: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data16: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')
Column Names for July Data17: Index(['Datetime', 'TweetId', 'Text', 'ptext', 'target', 'word', 'spans',
       'country_predicted', 'country_conf', 'admin1', 'country_code3',
       'feature_class', 'feature_code', 'geonameid', 'lat', 'lon',
       'place_name'],
      dtype='object')

In [4]:
JulyAll = pd.concat(julyDFs)

In [5]:
JulyAll=JulyAll.sort_values(by=['Datetime']).reset_index(drop=True)

In [7]:
JulyAll.tail()

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
214744,2021-07-31 23:59:50+00:00,1421621657580425217,@RickPetree Devastating flood happening in Ger...,devastating flood happening germany belgium fr...,0,France,"[{'start': 61, 'end': 67}]",FRA,0.945330,Île-de-France,FRA,P,PPL,2971874,48.94956,2.56840,Tremblay-en-France
214745,2021-07-31 23:59:50+00:00,1421621657580425217,@RickPetree Devastating flood happening in Ger...,devastating flood happening germany belgium fr...,0,Germany,"[{'start': 43, 'end': 50}]",DEU,0.954475,NaN,DEU,A,PCLI,2921044,51.50000,10.50000,Federal Republic of Germany
214746,2021-07-31 23:59:50+00:00,1421621657580425217,@RickPetree Devastating flood happening in Ger...,devastating flood happening germany belgium fr...,0,China,"[{'start': 77, 'end': 82}]",CHN,0.609523,NaN,CHN,A,PCLI,1814991,35.00000,105.00000,People’s Republic of China
214747,2021-07-31 23:59:50+00:00,1421621657580425217,@RickPetree Devastating flood happening in Ger...,devastating flood happening germany belgium fr...,0,Turkey,"[{'start': 69, 'end': 75}]",TUR,0.945330,NaN,TUR,A,PCLI,298795,39.00000,35.00000,Republic of Turkey
214748,2021-07-31 23:59:58+00:00,1421621692116307970,Running updates on the flash flooding in Bould...,running update flash flooding boulder colorado,0,Boulder,"[{'start': 41, 'end': 48}]",USA,0.963498,Colorado,USA,P,PPLA2,5574991,40.01499,-105.27055,Boulder

In [84]:
JulyAll.to_csv(os.path.join(tweet_dir,"JulyTweets.csv"), index = False)

In [85]:
julytest = pd.read_csv(os.path.join(tweet_dir,"JulyTweets.csv"))

In [4]:
julytest.tail()

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
211124,2021-07-17 23:58:47+00:00,1416547965141913608,Very serious flash flooding in eastern Connect...,serious flash flooding eastern connecticut hig...,0.0,Connecticut,"[{'start': 39, 'end': 50}]",USA,0.963498,Connecticut,USA,A,ADM1,4831725,41.66704,-72.66648,Connecticut
211125,2021-07-17 23:58:48+00:00,1416547967394193411,Flash Flood Warning continues for Providence R...,flash flood warning continues providence ri pa...,0.0,Pawtucket RI,"[{'start': 49, 'end': 61}]",USA,0.963741,Rhode Island,USA,P,PPL,5223869,41.87871,-71.38256,Pawtucket
211126,2021-07-17 23:58:48+00:00,1416547967394193411,Flash Flood Warning continues for Providence R...,flash flood warning continues providence ri pa...,0.0,Providence RI,"[{'start': 34, 'end': 47}]",USA,0.963741,Massachusetts,USA,S,HTL,10247818,41.95616,-71.34370,Super 8 N Attleboro Ma Providence Ri
211127,2021-07-17 23:58:50+00:00,1416547976789381121,"Flash Flood Warning continues for Putnam CT, S...",flash flood warning continues putnam ct south ...,0.0,South Woodstock,"[{'start': 45, 'end': 60}]",USA,0.963741,Connecticut,USA,P,PPL,4843359,41.93899,-71.95952,South Woodstock
211128,2021-07-17 23:59:43+00:00,1416548199876202502,"Three Texas Democrats \n""If the 30% don't get ...",three texas democrat dont get vaccinated democ...,0.0,Texas,"[{'start': 6, 'end': 11}]",USA,0.963498,Texas,USA,A,ADM1,4736286,31.25044,-99.25061,Texas

In [8]:
#julytest2 =  pd.read_csv(os.path.join(tweet_dir,"JuneJulyTweets.csv"))
len(JulyAll)

214749

In [9]:
JulyAll.head()

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
0,2021-07-14 00:00:00+00:00,1415098719075110912,A Long Island homeowner made a shocking discov...,long island homeowner made shocking discovery ...,0,Long Island,"[{'start': 2, 'end': 13}]",BHS,0.879922,Long Island,BHS,A,ADM1,3572005,23.21667,-75.11167,Long Island
1,2021-07-14 00:00:00+00:00,1415098717867282435,A SEVERE THUNDERSTORM WARNING has been issued ...,severe thunderstorm warning issued mifflin cou...,0,Mifflin,"[{'start': 50, 'end': 57}]",USA,0.963741,Pennsylvania,USA,A,ADM2,5201068,40.61041,-77.61704,Mifflin County
2,2021-07-14 00:00:13+00:00,1415098772128997381,Most of central and northern Saskatchewan is u...,central northern saskatchewan air quality stat...,0,Saskatchewan,"[{'start': 29, 'end': 41}]",CAN,0.904877,Saskatchewan,CAN,A,ADM1,6141242,54.00010,-106.00099,Saskatchewan
3,2021-07-14 00:00:18+00:00,1415098793599635462,Very sad update - The four people killed in th...,sad update four people killed new kent county ...,0,New Kent,"[{'start': 48, 'end': 56}]",USA,0.963741,Virginia,USA,A,ADM2,4775834,37.50514,-76.99713,New Kent County
4,2021-07-14 00:01:04+00:00,1415098987154182150,@FierceAndLittle I live in Marshfield and it’s...,live marshfield ’ esplanade whole place flood ...,0,Marshfield,"[{'start': 27, 'end': 37}]",USA,0.957188,Wisconsin,USA,P,PPL,5261969,44.66885,-90.17180,Marshfield

In [9]:
JulyAll= JulyAll.drop_duplicates()

In [10]:
len(JulyAll)

214749

In [11]:

arch = pd.read_csv(os.path.join(tweet_dir,"JuneJulyTweets.csv"))

In [12]:
arch.head()

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
0,2021-06-01 23:59:38+00:00,1399878337653207042,@GatorGately @ThatEricAlper @CountingCrows @Cl...,’ check mate cheer eddie vedder big fan good c...,0.0,Fire🔥,"[{'start': 161, 'end': 166}]",USA,0.635326,Rhode Island,USA,S,BLDG,7211630.0,41.87928,-71.38213,Pawtucket Fire Department Fire Station
1,2021-06-01 23:58:38+00:00,1399878086414548997,THIS JUST IN: I spoke to the Canyon Lake Fire ...,spoke canyon lake fire chief said located drow...,0.0,Canyon Lake,"[{'start': 29, 'end': 40}]",USA,0.957188,Texas,USA,P,PPL,4678901.0,29.87522,-98.26251,Canyon Lake
2,2021-06-01 23:58:36+00:00,1399878076486631427,New Tower for iRacing!\nMight test it out toni...,new tower iracingmight test tonight live nasca...,0.0,New Tower,"[{'start': 0, 'end': 9}]",MLT,0.904877,Tas-Sliema,MLT,S,HTL,10131832.0,35.91250,14.50194,New Tower Palace
3,2021-06-01 23:57:39+00:00,1399877837360975872,Carolina is making it tough for the Lightning ...,carolina making tough lightning transition neu...,0.0,Carolina,"[{'start': 0, 'end': 8}]",BRA,0.879922,Maranhão,BRA,A,ADM2,6319678.0,-7.50794,-47.14907,Carolina
4,2021-06-01 23:57:23+00:00,1399877771103457280,Something is burning over there Quarry area No...,something burning quarry area north sanantonio...,0.0,Metropolitan hospital,"[{'start': 126, 'end': 147}]",USA,0.963741,Michigan,USA,S,HSP,7254706.0,42.93503,-85.62113,Metropolitan Hospital (Fink Robert Retirement ...

In [13]:
merge = pd.concat([arch,JulyAll])

In [14]:
len(merge)

819185

In [15]:
merge= merge.drop_duplicates()

In [16]:
len(merge)

612770

In [17]:
merge.head()

,Datetime,TweetId,Text,ptext,target,word,spans,country_predicted,country_conf,admin1,country_code3,feature_class,feature_code,geonameid,lat,lon,place_name
0,2021-06-01 23:59:38+00:00,1399878337653207042,@GatorGately @ThatEricAlper @CountingCrows @Cl...,’ check mate cheer eddie vedder big fan good c...,0.0,Fire🔥,"[{'start': 161, 'end': 166}]",USA,0.635326,Rhode Island,USA,S,BLDG,7211630.0,41.87928,-71.38213,Pawtucket Fire Department Fire Station
1,2021-06-01 23:58:38+00:00,1399878086414548997,THIS JUST IN: I spoke to the Canyon Lake Fire ...,spoke canyon lake fire chief said located drow...,0.0,Canyon Lake,"[{'start': 29, 'end': 40}]",USA,0.957188,Texas,USA,P,PPL,4678901.0,29.87522,-98.26251,Canyon Lake
2,2021-06-01 23:58:36+00:00,1399878076486631427,New Tower for iRacing!\nMight test it out toni...,new tower iracingmight test tonight live nasca...,0.0,New Tower,"[{'start': 0, 'end': 9}]",MLT,0.904877,Tas-Sliema,MLT,S,HTL,10131832.0,35.91250,14.50194,New Tower Palace
3,2021-06-01 23:57:39+00:00,1399877837360975872,Carolina is making it tough for the Lightning ...,carolina making tough lightning transition neu...,0.0,Carolina,"[{'start': 0, 'end': 8}]",BRA,0.879922,Maranhão,BRA,A,ADM2,6319678.0,-7.50794,-47.14907,Carolina
4,2021-06-01 23:57:23+00:00,1399877771103457280,Something is burning over there Quarry area No...,something burning quarry area north sanantonio...,0.0,Metropolitan hospital,"[{'start': 126, 'end': 147}]",USA,0.963741,Michigan,USA,S,HSP,7254706.0,42.93503,-85.62113,Metropolitan Hospital (Fink Robert Retirement ...

In [18]:
merge.to_csv(os.path.join(tweet_dir,"JuneJulyTweets.csv"), index = False)

In [19]:
locations = merge[['country_code3','admin1','place_name', 'geonameid']]

In [20]:
admin_ones = locations.drop_duplicates(['country_code3','admin1'])
admin_ones = admin_ones[['country_code3','admin1']]

In [21]:
admin_ones = admin_ones.sort_values(by=['country_code3', 'admin1'])

In [22]:
admin_ones.to_csv(os.path.join(tweet_dir,"Admin_ones.csv"), index = False)

In [23]:
geonames = locations.drop_duplicates('geonameid')
geonames = geonames[['geonameid','place_name','country_code3','admin1']]

In [24]:
geonames = geonames.sort_values(by=['country_code3','admin1','place_name'])

In [25]:
geonames

,geonameid,place_name,country_code3,admin1
562301,10340008.0,Aruba Marriott Resort and Stellaris Casino,ABW,NaN
410870,9957912.0,Holiday Inn Sunspree Resort Aruba Beach Resort...,ABW,NaN
231513,3577154.0,Oranjestad,ABW,NaN
6242,1148268.0,Ashkāsham,AFG,Badakhshan
31830,7101703.0,Aytch,AFG,Badakhshan
...,...,...,...,...
18077,11749707.0,Viper Shoal,NaN,NaN
6870,3163618.0,West European Basin,NaN,NaN
16652,9408659.0,Western Europe,NaN,NaN
306685,6947193.0,Western Mediterranean,NaN,NaN
43350,2205316.0,White Island Canyon,NaN,NaN

In [26]:
geonames.to_csv(os.path.join(tweet_dir,"geonames_ones.csv"), index = False)

In [27]:
countries = pd.read_csv(os.path.join(tweet_dir,"Countries - Countries.csv"))

In [28]:
countries= countries.sort_values(by='Country')

In [29]:
countries.to_csv(os.path.join(tweet_dir,"Countries - Countries.csv"), index = False)